.textarea {
	width: auto;
	line-height: 1.25rem;
	padding: 10px;
}
.submit {
	color: "#fff";
}
.container {
	display: flex;
	flex-direction: row;
	justify-contemarg_rnt: space-between;
}
.submit:hover {
	color: blueviolet;
}
.animtationEnter {
	transition-property: opacity;
	transition-duration: 1s;
}
.animtationEnterFrom {
	opacity: 0;
}
.animationEnterTo {
	opacity: 1;
}
.animationLeave {
	transition-property: opacity;
	transition-duration: 150ms;
}

.animationLeaveFrom {
	opacity: 1;
}

.animationLeaveTo {
	opacity: 0;
}

.icon_png {
	margin: 0 6px;
}

.icon_svg {
  padding: 0 7px;
}
.icon_svg2 {
  padding: 0 5px;
}

.padd {
	padding: 0.7rem;
}
.BtnEnviar {
	color: white !important;
}

.BtnEnviar:hover {
	color: var(--primary) !important;
}
