.container {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  overflow-x: visible;
}
.leftContainer{
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: fit-content;
}
.background {
  position: absolute;
  width: 100vw;
  height: 45em;
  left: 0px;
  overflow-x:visible ;
  background-image: url("../../../assets/home/bg-steps.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.money {
  position: absolute;
  width: 35rem;
  opacity: 24%;
}
.img {
  width: 35rem;
  position: relative;
  margin-top: -10rem;
}
.text {
  background-color: #fdf9fb;
  color: #57277e;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  max-width: 80vw;
  position:relative;
  top:-40px;
}
.noText { margin-bottom: -1.5rem; }
.globo {
  height: 6.5em;
  top: -2em;
  position: relative;
}
.globoText {
  display: flex;
  position: relative;
  margin-top: -3.5em;
  color: #fff;
  width: 10em;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}
#preSteps {
  display: none;
}


/********************  MEDIA QUERY ********************/

@media (max-width: 1300px) {
  .money {
    width: 30rem;
  }
  .img { margin-top: -10rem; }
}

@media (max-width: 900px) {
  .container{
    flex-direction: column;
  }
  .img {
    position: relative;
    left: 0em;
    margin-top: -7.5rem;
    width: 55rem;
  }
  .money{
    width: 32em;
    margin-left: -1rem;
  }
  .noText { margin: 0; }
  .text {
    position: relative;
    margin-top: -5rem;
  }
  .globoText {
    margin-bottom: 2rem;
  }

  .leftContainer{
    overflow-x: visible;
    width: 100vw;
    margin-left: 0em;
  }
  #preSteps { display: flex; }
  #preSteps h2 {
    margin: 3rem var(--m-1);
    width: 75vw;
  }
}
@media (max-width: 600px) {
  .container{
    flex-direction: column;
  }
  .money{
    width: 75vw;
    right: 12vw;
  }
  .leftContainer{
    overflow-x: visible;
    width: 100vw;
  }
  .text { margin-top: calc(-12vw + 4rem); }
  .img {
    width: 110vw;
    margin-bottom: -2rem;
  }
  #preSteps { display: flex; }
  #preSteps h2 {
    margin: 3rem var(--m-1);
    width: 75vw;
  }
}
