
.linkButton{
  font-size: 1.5rem;
  color: white !important;
  text-align: center;
  display: block;
  padding: 1rem 3rem;
  margin-top: 1em;
  font-size: 1rem;
  position: relative;
  top: -34px;
  width: 10em;
  border: 1px solid var(--primary);
  cursor: pointer;
  background-color: var(--primary);
  transition: 200ms;
  border-radius: 2px;
  font-weight: bold;
  margin-top: 3vh;
}
.linkButton:hover { 
  background-color: white;
  color: var(--primary) !important;
}
.linkButtonMobile { visibility: hidden; }

.img{
  width: 40px;
  margin: 5px;
}

.liContainer{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;;
}

.footer {
  margin-top:15px;
  margin-bottom: 15px;
}

.bannerLi{
  color: white;
  list-style-type: none;  
}

.mobileP { visibility: hidden; }

.imgGirlMobile { visibility: hidden; }

.bannerChevron {
  position: absolute;
  top: 0;
  height: 450px;
  mix-blend-mode: multiply;
  opacity: 0.6;
  z-index: 200;
  animation: advance var(--a-long) forwards var(--custom-curve);
}
.imgGirl {
  position: absolute;
  top: 0;
  height: 450px;
  z-index: 300;
  animation: advance var(--a-long) forwards var(--custom-curve);
}
.imgMoney {
  position: absolute;
  top: 0;
  height: 450px;
  opacity: 25%;
  z-index: 299;
  mix-blend-mode: soft-light;
  animation: advance var(--a-long) forwards var(--custom-curve);
}
.bannerSpacer {
  width: 1em;
  animation: descend var(--a-short) forwards ease-out;
  visibility: hidden;
}
.bannerChevronMobil { visibility: hidden; }

.pagoOnlineDiv{
  margin-top: 2vh;
}


/********************  MEDIA QUERY ********************/

@media (max-width: 1300px) {
  .homeUl { margin: 1rem 0;}
}

@media (max-width: 900px) {
  .imgGirl { visibility: visible; }
  .imgMoney { visibility: hidden; }
  .btnCuotaMobile{ color:var(--blue-text)}
  .img {
    filter: drop-shadow(0 0 2px white);
  }
}
.bannerChevronMobilSecondary{
  visibility: hidden;
  display:none;
}
@media (max-width: 750px) {

  .imgGirl { visibility: hidden; }
  .imgGirlMobile {
    visibility: visible;
    position: absolute;
    bottom: 0;
    right: -5%;
    height: 80%;
    z-index: 300;
  }
  .pagoOnlineDiv{
  margin-top: 0;

  }
}
@media (max-width: 600px) {

  .footer {
    margin-top:15px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 400;
  }

  .bannerChevronMobilSecondary{
    display: block;
    visibility: visible;
    position: absolute;
    top: 0;
    height: 100%;
    mix-blend-mode: multiply;
    opacity: 0.8;
    z-index: 200;
    right: 0vw;
  }
  .bannerChevron, .button { visibility: hidden; }
  .bannerChevronMobil {
    visibility: visible;
    position: absolute;
    top: 0;
    height: 100%;
    mix-blend-mode: multiply;
    opacity: 0.6;
    z-index: 200;
    left: 55vw;
  }
  .linkButton{
    visibility: hidden;
  }
  .linkButtonMobile {
    visibility: visible;
    color: white !important;
    text-align: center;
    z-index: 100;
    display: block;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 15em;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--primary);
    transition: 200ms;
    border-radius: 2px;
    font-weight: bold;
  }
  .mobileP {
    visibility: visible;
    display: flex;
    color: #fff;
    width: 150px;
    margin: 1rem 0;
    margin-top: 1.5em;
  }
  .imgGirlMobile { height: 70%; }


  .pagoOnlineDiv{
    width: 65%;
    margin-bottom: 2vh;

  }
  .pagoOnline{
    font-size: 2.5rem !important;
  }
}

@media (max-width: 450px) {
  .regretFix { 
    font-size: 2.25rem;
    letter-spacing: 0;
  }


}

@media (max-width: 375px) {
  .imgGirlMobile { opacity: 0.5; }
}

@keyframes advance {
  0% { left: 0%; }
  100% { left: 50%; }
}
